LINE_CHANNEL_SECRET=075c5372e81b96cc2443bc99e7cb7640
LINE_CHANNEL_ACCESS_TOKEN=t5SiJxYa5YvgpyGGAaOsO7EdQr9VpwdYUh+LgR4fdRnUj33hkfUqA+1eChUoVMVjZuAERAT4bgREJikgNnmlBYAwy7/55FKvF4tJOWh0JNbG4a1AjObf5M1tyv8vscsubpQHF1T3iUlgOdoZtwH6DQdB04t89/1O/w1cDnyilFU=
ANTHROPIC_API_KEY=your_anthropic_api_key_here
